name: Actions

on:
  push:
    branches:
    - feature/groups

jobs:

  bb_checks:
    name: BB Checks
    uses: BinaryBirds/github-workflows/.github/workflows/extra_soundness.yml@dev
    with:
      local_swift_dependencies_check_enabled : true


  swiftlang_checks:
    name: Swiftlang Checks
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "name"
      format_check_enabled : true
      broken_symlink_check_enabled : true
      unacceptable_language_check_enabled : true
      api_breakage_check_enabled : false
      docs_check_enabled : false
      license_header_check_enabled : false
      shell_check_enabled : false
      yamllint_check_enabled : false
      python_lint_check_enabled : false

  
  swiftlang_tests:
    name: Swiftlang Tests
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      enable_windows_checks : false
      linux_build_command: "swift test --parallel"
      linux_exclude_swift_versions: "[{\"swift_version\": \"5.8\"}, {\"swift_version\": \"5.9\"}, {\"swift_version\": \"nightly\"}, {\"swift_version\": \"nightly-main\"}, {\"swift_version\": \"nightly-6.0\"}]"


    #steps:
    #  - name: Add keys to ssh-agent
    #    uses: webfactory/ssh-agent@v0.7.0
    #    with:
    #      ssh-private-key: |
    #        ${{ secrets.SSH_SYSTEM_API }}
    #        ${{ secrets.SSH_SYSTEM_MODULE }}